body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .section h2 {
    font-size: 34px;
    padding: 20px;
    display:inline-flex;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px; /* Increased padding */
  }
  
  .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Decreased margin */
    opacity: 0;
    animation: slideRight 1s ease forwards; 
    animation-delay: .7s;
  }
  
  .section img {
    max-width: 60%; /* Increased image size */
    height: auto;
    margin-right: 40px; /* Increased space between image and text */
    transform: translateX(-50px);
    animation: slideRight 1.4s ease forwards; 
    animation-delay: .7s;
  }
  
  .section .text {
    max-width: 40%; /* Decreased text size */
    transform: translateX(50px);
    animation: slideRight 1s ease forwards; 
    animation-delay: .7s;
  }
  
  /* Adjustments for smaller screens */
  @media screen and (max-width: 768px) {
    .section {
      flex-direction: column;
      text-align: center;
    }
  
    .section img {
      max-width: 80%; /* Increased image size on smaller screens */
      margin-right: 0;
      margin-bottom: 20px;
      transform: translateY(-50px);
    }
  
    .section .text {
      max-width: 80%; /* Increased text size on smaller screens */
      transform: translateY(50px);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideRight {
    from {
      transform: translateX(-100px); /* Increased initial translate value */
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideLeft {
    from {
      transform: translateX(100px); /* Increased initial translate value */
    }
    to {
      transform: translateX(0);
    }
  }
  